#loanCalc input{
  padding:10px;
  display:block;
}
.paymentCalc{
  background-color: #f7f7f7;
  border: 1px solid #d3d3d3;
  padding: 35px 35px;
  overflow: auto;
}
.calcBtn{
  display:inline-block;
  background:#c62233;
  color:#fff;
  text-align:center;
  text-decoration:none;
  text-transform: uppercase;
  font: bold;
  padding:10px 20px;
  border-radius: 3px;
}
.calcBtn:hover {
    background:#f7f7f7;
    color:#c62233;
    text-decoration:none;
    transition: 0.3s;
}
#paymentResults{
  display: none;
  background: #fff;
  padding: 30px 60px 30px 60px;
  border: 1px solid #d3d3d3;
  margin-top: 88px;
}